:root {
    --input-gap: 10px;
    --input-border-radius: 6px;
    --input-width: 40vw;
}

.connection-container > * {
    display: flex;
    flex-direction: row;
/*    align-items: center;*/
    gap: 10px;
}

/* Chat Container */
.chat-container {
    display: flex;
    flex-direction: column;

    /* Full height of area */
    height: 100%;
    width: 100%;
}

/* Chat Window Container */
.chat-window {
    width: var(--input-width);
    height: 50vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Messages Container */
.message-container {
    height: 100%;
    padding: 0.8vw;

    /* Enable scrolling and then smooth scrolling */
    overflow-y: auto;
    scroll-behavior: smooth; 
}

#messages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-message {
    list-style-type: none;
    padding: 0;
    margin: 0;

    margin-bottom: 8px;
    font-size: 14px;
    word-wrap: break-word;
}

/* Input Area */
.input-container {
    display: flex;
    /* I think a fixed distance between the chat window and input fields looks better + consistensy */
    margin-top: 10px; 
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: var(--input-border-radius);
    width: var(--input-width); /* TODO: Match the width of the chat window. Should probably change this to a variable */
}

.input-container label {
    display: flex;
    align-self: center;
    margin-right: var(--input-gap);
}

.input-container input {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
    flex: 1;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: var(--input-border-radius);
}

.input-container button {
    margin-left: var(--input-gap);
    padding: 2% 4%;
    font-size: 14px;
    background-color: #007fff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }