@using AspIT.RelayChat.Entities
@using AspIT.RelayChat.SignalRLibrary
@using System.Diagnostics
@using Microsoft.Extensions.Logging

@rendermode InteractiveServer
@inject UsernameState UsernameState
@inject Chat chat

<div>
    @if (!isUsernameSet)
    {
        <div>
            <label for="username">Username:</label>
            <InputText id="username" @bind-Value="userModel.Username" disabled="@isUsernameSet" />
        </div>
        <div @onclick="HandleSubmit">Submit</div>
        <button @onclick="test">Submit</button>
        <!--
        <EditForm Model="userModel" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
        </EditForm>
        -->
    }
    else
    {
        <p>Welcome, @userModel.Username!</p>
    }
</div>

@code {
    private User userModel = new();
    private bool isUsernameSet = false;
    Logger<UsernameInput> log;

    protected override void OnInitialized()
    {
        Console.WriteLine("Component Initialized");
        Console.WriteLine(isUsernameSet);
        // await InvokeAsync(StateHasChanged);
    }

    private void test()
    {
        Console.WriteLine("TEST!@");
    }

    public async Task HandleSubmit()
    {
        log.LogInformation("HandleSubmit");
        Debug.WriteLine("HandleSubmit");
        Console.WriteLine("HandleSubmit");
        isUsernameSet = true;
        UsernameState.SetUsername(userModel.Username);
        await chat.Start();
        await InvokeAsync(StateHasChanged);
    }
}
